html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
}

#use-js {
    visibility: hidden;
}

#logo {
    filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
    #logo {
        filter: invert(0%);
    }
}

.heart {
    color: red;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.rounded-6 {
    border-radius: 1rem;
}

.modal-dialog {
    transition: bottom .75s ease-in-out;
}

.modal-footer {
    padding-bottom: 2rem;
}

.border-right {
    border-right: 1px solid #eee;
}

.bi-fw {
    display: inherit;
    width: 1.28571429em;
    text-align: center;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.form-check-input:focus {
    border-color: #565e64;
    box-shadow: 0 0 0 .25rem #5c636a7a;
    outline: 0;
}

.form-check-input:checked {
    background-color: #5c636a;
    border-color: #565e64;
}

.form-switch .form-check-input:focus {
    --bs-form-switch-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%565e64fe'/%3E%3C/svg%3E");
}

.dropzone-container {
    min-height: auto;
    text-align: center;
    cursor: pointer;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    border-radius: .3rem !important;
    position: relative;
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.dropzone-input {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.dropzone-preview {
    display: flex;
    max-width: 100%;
    align-items: center;
}

.dropzone-preview-image {
    justify-content: center;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    margin-right: 10px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.dropzone-preview-filename {
    word-wrap: anywhere;
}

.dropzone-preview-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
}

.dropzone-preview-button::before {
    content: '×';
    padding: 3px 7px;
    cursor: pointer;
}

.dropzone-placeholder {
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
}

.dropzone-placeholder::before {
    display: block;
    margin-bottom: -0.5rem;
    font-size: 3rem;
    font-family: bootstrap-icons;
    content: "\F296";
}

.dropzone-placeholder::after {
    content: "\a  310x310 or more for optimal results";
    font-size: 12px;
    font-weight: 400;
    white-space: pre;
}

.spinner-container {
    position: fixed;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

@media (prefer-color-scheme: white) {
    #logo {
        filter: invert();
    }
}