<footer class="container py-3 mt-lg-auto mt-4 text-muted border-top">
	<div class="d-flex flex-column align-items-center">
		<span class="text-muted">Made with
			<i aria-hidden="true" class="bi bi-heart-fill heart"></i>
			by {{ author_name }}
		</span>
	</div>
</footer>
