<header class="container pt-3">
	<div class="d-flex flex-column align-items-center pb-3 border-bottom">
		<a class="d-flex align-items-center text-dark text-decoration-none" href="/">
			<span class="fs-4 mx-2">Faviconator</span>
		</a>
	</div>
</header>
