<!DOCTYPE html>
<html class="h-100" lang="en">
	<meta charset="UTF-8">
	<title>
		{% block title %}Faviconator
		{% endblock %}
	</title>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html></head><body class="d-flex flex-column h-100">
<a class="github-fork-ribbon left-top" href="https://github.com/gaetanlhf/Faviconator" data-ribbon="Fork me on GitHub" title="Fork me on GitHub" aria-hidden="true">Fork me on GitHub</a>
<div class="d-flex flex-column h-100">
	<header class="container pt-3">
		<div class="d-flex flex-column align-items-sm-center align-items-end pb-3 border-bottom">
			<a class="d-flex align-items-center text-dark text-decoration-none" href="/">
				<i class="bi bi-lightning-fill" aria-hidden="true"></i>
				<span class="fs-4 mx-2">Faviconator</span>
			</a>
		</div>
	</header>
	{% block body %}{% endblock %}
	<footer class="container py-3 mt-lg-auto mt-4 text-muted border-top">
		<div class="d-flex flex-column align-items-center">
			<span class="text-muted">Made with
				<i aria-hidden="true" class="bi bi-heart-fill heart"></i>
				by Gaëtan L. H.-F.
			</div>
		</footer>
	</div>
</body></html>
